* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html, body {
  background-color: #ffeead;
  box-sizing: border-box;
  height: 100%;
  padding: 10px;
  margin: 0px;
}
.main > div  {
  color: #ffeead;
  display: flex;
  align-items: center;
  justify-content: center;
}
.row:nth-child(1n) {
  background-color: #96ceb4;
}

.row:nth-child(3n) {
  background-color: #88d8b0;
}

.row:nth-child(2n) {
  background-color: #ff6f69;
}

.row:nth-child(4n) {
  background-color: #ffcc5c;
}


.main{
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(auto-fill, minmax(30px, 1fr));
  /* grid-template-rows: 70px; */
  grid-auto-rows: 30px;



}
