/* * {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html, body {
  background-color: #ffeead;
  box-sizing: border-box;
  height: 900px;
  width: 900px;
  padding: 10px;
  margin: 0px;
}
/* .main > div  {
  color: #ffeead;
  display: flex;
  align-items: center;
  justify-content: center;
} */
/* .row:nth-child(1n) {
  background-color: #96ceb4;
}

.row:nth-child(3n) {
  background-color: #88d8b0;
}

.row:nth-child(2n) {
  background-color: #ff6f69;
}

.row:nth-child(4n) {
  background-color: #ffcc5c;
}


.main {
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(auto-fill, minmax(30px, 1fr));
  /* grid-template-rows: 70px; */
  /* grid-auto-rows: 30px; */
/*align-items: center;
justify-content: center; */
   /* text-align: center; */

/* }  */

.container  {
	border: 2px solid black;
	height: 724px;
  margin: auto;
  width: 1024px;
  display: grid;
  grid-gap: 2px;
  border-radius: 15px;
	padding: 10px;
}
.grids {
  background-color: #ffeabb;
  height: auto;
  width: auto;
  border-radius: 15px;
}
.footer-flex {

  display: flex;
/*   justify-content: space-evenly;
  align-items: center; */
  height: 100px;
  width: 1024px;
  border: 1px solid black;
  margin: 20px auto;
  border-radius: 15px;

}

.btn{
  height: 40px;
  width: 150px;
  margin: auto;
  border-radius: 7px;
	background-color: #88d8b0;
	color: #000;

}
.btn:hover {
	background-color: #ffcc5c;
	color: #000;
}
